.header_nav{display: grid;grid-auto-flow: column;padding:0 16px;border-bottom:1px solid #eee ;}
.header_nav a{padding:6px 0;color: #8c8c8c;font-size:16px;font-weight:600;}
a.header_nav__active span{position: relative;display: inline-block;color:#000}
a.header_nav__active span:after{content: '';width:100%;position: absolute;bottom:-7px;left:0;z-index:1;border-bottom:2px solid #000;}

.header_util_section{max-width: 480px;margin:0 auto}

.header_favorite{padding:12px 16px 8px}
.header_favorite p{display: grid;grid-auto-flow: column;place-content: center;gap:0 2px;width:94px;height:28px;padding:0 15px;background: #e7e7e7;border-radius:30px}
.header_tags{display: grid;grid-auto-flow: column;padding:0 16px}
.header_tags li{color:#2895d2;font-size:13px;font-weight:500;}

.header_util{display: grid;grid-auto-flow: column;justify-content: space-between;padding:10px 16px}
.header_ranking{display: grid;grid-auto-flow: column;justify-content: start;align-items:center;gap:0 8px}
.header_ranking___tit{padding-right: 10px;color:#000;font-size:13px;font-weight:600;}
.header_ranking___rank{width:13px;height:13px;background: #000;color:#fff;font-size:8px;font-weight:600;text-align: center;}
.header_ranking___aka{color:#000;font-size:14px;font-weight:400;}

.header_sort{color:#000;font-size:12px;font-weight:500;}
.header_sort img{margin-right: 8px;}