@charset "utf-8";

/* reset css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, main, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; }
/* h1, h2, h3, h4, h5, h6{transform: rotate(-0.0000000001deg);text-shadow: 0 0 1px rgba(0,0,0,.3); -webkit-text-size-adjust: antialiased;-moz-osx-font-smoothing: grayscale;} */
/* html5 */
article, aside, details, figcaption, figure, footer, header, menu, nav, main, section { display:block; }
/* default font */
body, input, textarea, select, button, table { font-family:'Red Hat Display',"Pretendard","Nanum Gothic",'나눔고딕','Malgun Gothic','맑은고딕',dotum,'돋움',Roboto,AppleGothic,sans-serif; color:#2b2b2b; font-size:12px; }
/* break word */
body {line-height:1.4; }
/* img */
img, fieldset, iframe { border:0; }
img { vertical-align:top; max-width:100% }
/* list type */
ul, ol { list-style:none; }
em, address { font-style:normal; }
caption, legend, .blind { visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; text-align:left; line-height:0; }
/* form type */
input, select{max-width:100% !important;}
input[type='text'], input[type='password'], textarea, input { margin:0; border:solid 1px #dadada;font-family:'Red Hat Display',Pretendard,'Noto Sans KR',Nanum Gothic,'나눔고딕','Malgun Gothic','맑은고딕',dotum,'돋움',AppleGothic,sans-serif; font-size:12px; color:#2b2b2b; }
input[type='radio'] { width:13px; height:13px; margin:0; padding:0; cursor:default; }
input[type='radio']:disabled { cursor:default; }
input[type='checkbox'] { width:13px; height:13px; margin:0;padding:0; }
input[type=text]::-ms-clear { display:none; }
input[type='password'] { font-size:10px; }
input { vertical-align:middle; -webkit-appearance: none; -webkit-border-radius: 0; box-sizing: border-box;}
button {margin:0; padding:0; border:0; background:none;  font-family:'Red Hat Display','Pretendard','Noto Sans KR',Nanum Gothic,'나눔고딕','Malgun Gothic','맑은고딕',dotum,'돋움',AppleGothic,sans-serif; font-size:12px; vertical-align:middle; cursor:pointer; appearance:none; moz-appearance:none; }
select {margin:0; border:solid 1px #ddd;  font-family:'Red Hat Display',Pretendard,'Noto Sans KR',Nanum Gothic,'나눔고딕','Malgun Gothic','맑은고딕',dotum,'돋움',AppleGothic,sans-serif; font-size:12px; vertical-align:middle;  -webkit-appearance: none;-webkit-border-radius: 0;}
textarea { padding:12px;-webkit-appearance: none;-webkit-border-radius: 0;}
select {-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;}
select::-ms-expand {display: none;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity:0;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {margin:0; -webkit-appearance:none; }

/*input:focus,
select:focus,
button:focus {outline:none;}*/

/* anchor */
a { text-decoration:none; color:inherit}
a:active, a:focus { text-decoration:none; }
a:hover { text-decoration:none; }
/* table */
table { border-collapse:collapse; table-layout:fixed;word-break: normal;word-wrap: break-word;}
th { font-weight:bold; }
/* hidden text */
caption { display:none; position:static; left:-9999px; height:0; font-size:0; text-indent:-9999px; line-height:0; }
.ui-hidden, legend { display:block; overflow:hidden; position:absolute; top:-1000em; left:0; }
.blind { position:absolute; left:-9999px; height:0; font-size:0; text-indent:-9999px; line-height:0; }
.ir { display:inline-block; overflow:hidden; margin:0; padding:0; font-size:0; color:transparent; letter-spacing:-100px; text-indent:0; vertical-align:middle; white-space:nowrap; line-height:200px; }
h1,h2,h3,h4,h5,h6{font-size:inherit;}
/* none */
hr { display:none; }

.v-hidden { overflow:hidden; position:absolute !important; width:1px; height:1px; clip:rect(1px 1px 1px 1px); /* IE6, IE7 */ clip:rect(1px, 1px, 1px, 1px); }
.v-hidden a:focus,
.v-hidden input:focus,
.v-hidden button:focus { position:static; width:auto; height:auto; }

/* scrollbar */
html { scrollbar-3dLight-Color:#efefef; scrollbar-arrow-color:#dfdfdf; scrollbar-base-color:#efefef; scrollbar-Face-Color:#dfdfdf; scrollbar-Track-Color:#efefef; scrollbar-DarkShadow-Color:#efefef; scrollbar-Highlight-Color:#efefef; scrollbar-Shadow-Color:#efefef; }
/* Chrome, Safari scrollbar */
.header__inner::-webkit-scrollbar {width: 1px;height: 1px;}
.header__inner::-webkit-scrollbar-button {width: 0px;height: 0px;}
.header__inner::-webkit-scrollbar-thumb {background: #e1e1e1;border: 0px none #ffffff;border-radius: 50px;}
.header__inner::-webkit-scrollbar-thumb:hover {background: #ffffff;}
.header__inner::-webkit-scrollbar-thumb:active {background: #000000;}
.header__inner::-webkit-scrollbar-track {background: #f0f0ee;border: 0px none #ffffff;border-radius: 50px;}
.header__inner::-webkit-scrollbar-track:hover {background: #f0f0ee;}
.header__inner::-webkit-scrollbar-track:active {background: #dddddd;}
.header__inner::-webkit-scrollbar-corner {background: transparent;}

.swiper-pagination-bullet.swiper-pagination-bullet-active{background: #fff;opacity:1!important;}
.swiper-pagination-bullet{background: #fff!important;opacity: .5!important;}

.appbar{position: fixed;bottom:0;left:0;right:0;z-index:10;max-width:480px;margin:0 auto;transition:all .2s ease}
.appbar-up{transform: translateY(0);}
.appbar-down{transform: translateY(100%)}

.feedView{overflow-x:hidden;overflow-y:auto;position: fixed;top:0;right:0;bottom:0;left:0;z-index: 100;background: #fff;}
.feedView-inner{max-width: 480px;margin:0 auto;padding-bottom: 100px;}

body.popup-open{overflow: hidden;}

::-webkit-scrollbar {width: 8px;height: 6px;}
::-webkit-scrollbar-button {width: 1px;height: 1px;}
::-webkit-scrollbar-thumb {background: #e1e1e1;border: 0px none #000;border-radius: 50px;}
::-webkit-scrollbar-thumb:hover {background: #000;}
::-webkit-scrollbar-thumb:active {background: #000000;}
::-webkit-scrollbar-track {background: #fff;border: 0px none #000;border-radius: 50px;}
::-webkit-scrollbar-track:hover {background: #fff;}
::-webkit-scrollbar-track:active {background: #dddddd;}
::-webkit-scrollbar-corner {background: transparent;}